# ----------------------------
# Build / Binaries
# ----------------------------
bin/
*.exe
*.out
*.o
*.obj

# ----------------------------
# Debug / Logs
# ----------------------------
*.log

# ----------------------------
# VS Code (local settings)
# ----------------------------
.vscode/

# If you WANT to keep tasks.json, use instead:
# .vscode/*
# !.vscode/tasks.json

# ----------------------------
# OS Files (Windows)
# ----------------------------
Thumbs.db
Desktop.ini

# ----------------------------
# Misc
# ----------------------------
*.tmp
*.temp